@import "../utils/variable.scss";

.contact {
  font-family: 'roboto', sans-serif;
  // width: 100%;

  .contact__title {
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
    width: 40%;
    min-width: 240px;
    margin: 20px 0;
    padding: 5px 10px 5px 0;
    font-size: 1.6em;
    color: #000;
    background-color: #{$theme_color};
  }

  .contact__list {
    width: 80%;
    margin: 50px auto;
    text-align: center;

    .contact__li {
      margin-top: 10px;

      .contact__link {
        color: #000;
      }
    }

    .contact__link--margin {
      margin-top: 50px;
    }
  }
}