@import "../utils/variable.scss";

.contact {
  font-family: 'roboto', sans-serif;
  // width: 100%;

  .contact__title {
    @include title-style;
    padding-left: 15px;
  }

  .contact__list {
    width: 80%;
    margin: 50px auto;
    text-align: center;

    .contact__li {
      margin-top: 10px;

      .contact__link {
        color: #000;
      }
    }

    .contact__link--margin {
      margin-top: 50px;
    }
  }
}