$theme_color: #d3e137;
$min_padding: 60px 0 40px 0; //paddingi top bottom na header
$small-width: 500px;
$medium-width: 640px;
$large-width: 1024px;

@mixin medium {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin small_landscape {
  @media (min-width: #{$small-width}) and (orientation: landscape) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin title-style {
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
  width: 40%;
  min-width: 240px;
  margin: 20px 0 10px 0;
  padding: 5px 10px 5px 0;
  font-size: 1.4em;
  color: #000;
  background-color: #{$theme_color};
}